# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# OS junk
.DS_Store
Thumbs.db
Assets/Settings/UniversalRenderPipelineGlobalSettings.asset
Packages/packages-lock.json
Assets/Settings/UniversalRenderPipelineGlobalSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
Assets/Settings/Mobile_RPAsset.asset
Assets/Settings/PC_RPAsset.asset
Packages/manifest.json
Packages/packages-lock.json
